body {
  background-color: black;
  position: relative;
  text-align: center;
  overflow: hidden;
  position: fixed;
}

.container {
  position: absolute;
  /* top: 0;
  right: 0;
  left: 0; */
  color: green;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  justify-self: center;
  height: 20%;
  width: 80%;
  /* margin: auto;
  margin-top: 21%; */

  top: 46%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.work,
.contact,
.about {
  padding: 10px 10px;
  text-decoration-line: none;
  text-decoration-color: none;
}

.work > a,
.contact > a,
.about > a {
  text-decoration-line: none;
  text-decoration-color: none;
}

img {
  width: 90%;
  transition: all 0.8s ease-out;
}
img:hover {
  width: 50%;
}

a {
  color: green;
}
a:visited {
  color: green;
}
/* a:hover {
  color: white;
}
a:active {
  color: white; */

a:hover img {
    background-image: none !important;}

@media screen and (max-width: 700px) {
/*   body {
  margin-left: 1rem;
  } */
  
  .container {
    left: 48%;
    flex-direction: column;
  }
  img {
    width: 62%;
    margin: 10px auto;
  }
  .contact {
    width: 120%;
  }
}

