#text1 {
  background: #000;
  grid-area: text1;
  margin-bottom: 8%;
}
#text2 {
  background: #000;
  grid-area: text2;
  margin-bottom: 8%;
}
#text3 {
  background: #000;
  grid-area: text3;
  margin-bottom: 8%;
}
#text4 {
  background: #000;
  grid-area: text4;
  margin-bottom: 8%;
}
#text5 {
  background: #000;
  grid-area: text5;
  margin-bottom: 8%;
}
#text6 {
  background: #000;
  grid-area: text6;
  margin-bottom: 8%;
}

#sidebar1 {
  background: #000;
  grid-area: sidebar1;
  margin: 5%;
  /* background-size: cover; */
}
#sidebar2 {
  background: #000;
  grid-area: sidebar2;
  margin: 5%;
}
#sidebar3 {
  background: #000;
  grid-area: sidebar3;
  margin: 5%;
}
#sidebar4 {
  background: #000;
  grid-area: sidebar4;
  margin: 5%;
}
#sidebar5 {
  background: #000;
  grid-area: sidebar5;
  margin: 5%;
}
#sidebar6 {
  background: #000;
  grid-area: sidebar6;
  margin: 5%;
}

#project1 {
  background: #000;
  grid-area: project1;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}

#project2 {
  background: #000;
  grid-area: project2;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#project3 {
  background: #000;
  grid-area: project3;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#project4 {
  background: #000;
  grid-area: project4;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#project5 {
  background: #000;
  grid-area: project5;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#project6 {
  background: #000;
  grid-area: project6;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}

#github1 {
  background: #000;
  grid-area: github1;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
  
}
#github2 {
  background: #000;
  grid-area: github2;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#github3 {
  background: #000;
  grid-area: github3;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#github4 {
  background: #000;
  grid-area: github4;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#github5 {
  background: #000;
  grid-area: github5;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}
#github6 {
  background: #000;
  grid-area: github6;
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
}

p {
  /* color: #90EE90; */
  color: #00FF00;
  font-size: 20px;
  margin: 0px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 5px #90EE90;
  opacity: 0.7;
}

 body {
  background: #000;
  height: 100%;
/*   margin: 0; */
  border-bottom: 3rem solid black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background: rgba(68, 68, 68, 0.9), url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; } 


.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.2fr 1.5fr 0.1fr 0.1fr;
  grid-template-areas:
    "sidebar1 sidebar2 sidebar3 sidebar4"
    "text1 text2 text3 text4"
    "project1 project2 project3 project4"
    "github1 github2 github3 github4";
  grid-gap: 0.2rem;
  color: #004d40;
  text-align: center;
}
.container img {
  /* float: left; */
  /* width:  100px; */
  /* height: 100px; */
  object-fit: cover;
  width: 100%;
  border: 3px #fff solid; }
  .container img:hover {
    opacity: 0.5;
    border-color: #00FF00;
    transition: all 0.5s ease-out; }

img {
float: left;
height: 300px;
object-fit: cover;
opacity: 0.9;
background-color: green;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    opacity: 0.5;
    border-color: #00FF00;
    transition: all 0.5s ease-out;
    background: #00FF00;
    color: #000; }

.btn-dark {
  background: black;
  border: 2px #fff solid;
  color: green; }

.btn-light {
  background: black;
  border: 2px #fff solid;
  color: green; }

a {
  color: green;
  text-decoration-line: none;
  text-decoration-color: none;
}

@media screen and (min-width: 1601px) {
  .container {
    display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.2fr 1.5fr 0.1fr 0.1fr;
  grid-template-areas:
    "sidebar1 sidebar2 sidebar3 sidebar4"
    "text1 text2 text3 text4"
    "project1 project2 project3 project4"
    "github1 github2 github3 github4"
    "sidebar5 sidebar6 . ."
    "text5 text6 . ."
    "project5 project6 . ."
    "github5 github6 . ."; } }

@media screen and (min-width: 1171px) and (max-width: 1600px) {
  .container {
    display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2.2fr 1.5fr 0.1fr 0.1fr;
  grid-template-areas:
    "sidebar1 sidebar2 sidebar3"
    "text1 text2 text3"
    "project1 project2 project3"
    "github1 github2 github3"
    "sidebar4 sidebar5 sidebar6"
    "text4 text5 text6"
    "project4 project5 project6"
    "github4 github5 github6"; 
    } }


  @media screen and (min-width: 769px) and (max-width: 1170px) {
  .container {
    display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.2fr 1.5fr 0.1fr 0.1fr;
  grid-template-areas:
    "sidebar1 sidebar2"
    "text1 text2"
    "project1 project2"
    "github1 github2"  
    "sidebar3 sidebar4"
    "text3 text4"
    "project3 project4"
    "github3 github4"
    "sidebar5 sidebar6"
    "text5 text6"
    "project5 project6"
    "github5 github6";
    } }

    @media screen and (max-width: 768px) {
    .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2.2fr 1.5fr 0.1fr 0.1fr;
    grid-template-areas:
      "sidebar1"
      "text1"
      "project1"
      "github1"
      "sidebar2"
      "text2"
      "project2"
      "github2"
      "sidebar3"
      "text3"
      "project3"
      "github3"
      "sidebar4"
      "text4"
      "project4"
      "github4"
      "sidebar5"
      "text5"
      "project5"
      "github5"
      "sidebar6"
      "text6"
      "project6"
      "github6"; 
      } }

    #github1 {
      background: #000;
      grid-area: github1;
      justify-items: center;
      /* margin-top: 20%; */
      margin-bottom: 25%;
      /* margin-left: 5%;
      margin-right: 5%; */
    }
    #github2 {
      background: #000;
      grid-area: github2;
      justify-items: center;
      /* margin-top: 20%; */
      margin-bottom: 25%;
      /* margin-left: 5%;
      margin-right: 5%; */
    }
    #github3 {
      background: #000;
      grid-area: github3;
      justify-items: center;
      /* margin-top: 20%; */
      margin-bottom: 25%;
      /* margin-left: 5%;
      margin-right: 5%; */
    }
    #github4 {
      background: #000;
      grid-area: github4;
      justify-items: center;
      /* margin-top: 20%; */
      margin-bottom: 25%;
      /* margin-left: 5%;
      margin-right: 5%; */
    }
    #github5 {
      background: #000;
      grid-area: github5;
      justify-items: center;
      /* margin-top: 20%; */
      margin-bottom: 25%;
      /* margin-left: 5%;
      margin-right: 5%; */
    }
    #github6 {
      background: #000;
      grid-area: github6;
      justify-items: center;
      /* margin-top: 20%; */
      margin-bottom: 75%;
      /* margin-left: 5%;
      margin-right: 5%; */
    }
